<div class="box-app" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-dropzone fxFlex="80" (droppedfiles)="onDropFiles($event)"></app-dropzone>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70" fxLayout="column" *ngIf="files.length">
            <h3>Files: </h3>
            <mat-card class="item-file" *ngFor="let f of files; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
                <span><mat-icon>attachment</mat-icon>{{ f.file.name }}</span>
                <div *ngIf="f.task == null; else uploading" fxFlex="60" fxLayoutAlign="end center">
                    <button mat-button color="accent" (click)="removeFileFromList(i)"><mat-icon>delete</mat-icon></button>
                </div>
                <ng-template #uploading>

                </ng-template>
            </mat-card>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary">
                    <mat-icon>cloud_upload</mat-icon> Send all
                </button>
            </div>
        </div>
    </div>
</div>